p {
	line-height: 1em;
}

h1,
h2,
h3,
h4 {
	color: rgb(0, 0, 0);
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.5em;
}

a {
	color: black;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}



body {
	font-family: arial;
	font-size: 80%;
	line-height: 1.2em;
	width: 100%;
	margin: 0;
	background: #eee;
}

#page {
	margin: 30px;
}


#logo {
	width: 35%;
	margin-top: 5px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: inline-block;
	font-size: 200%;

}

#nav {
	width: 60%;
	display: inline-block;
	text-align: right;

}



#nav ul li {
	display: inline-block;
	height: 62px;
}

#nav ul li a {
	padding: 20px;
	background: rgb(80, 80, 80);
	color: white;
}

#nav ul li a:hover {
	background-color: #6e6e6e;
	box-shadow: 0px 1px 1px #666;
}

#nav ul li a:active {
	background-color: #000000;
}

#content {
	margin: 30px 0;
	background: rgb(177, 177, 177);
	padding: 20px;
	clear: both;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#footer {
	border-bottom: 4px #ccc solid;
	margin-bottom: 30px;
}

#footer p {
	text-align: right;
	text-transform: uppercase;
	font-size: 80%;
	color: grey;
}

/* multiple styles seperated by a , */
#content,
ul li a {
	box-shadow: 2px 4px 3px rgb(66, 66, 66);
}

/* this isnt working*/
.headerimg {

	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

}